/* Указываем box sizing */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
	padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
	background: #f9f7f4;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
	list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
	max-width: 100%;
	display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
	margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
	font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
	* {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

.container {
	max-width: 1230px;
	margin: 0 auto;
	padding: 0 15px;
}

.title {
	font-family: "DM Serif Display";
	font-size: 48px;
	line-height: 116%;
	text-align: center;
	color: #28514f;
	max-width: 656px;
}
.subtitle {
	font-family: Source Sans Pro;
	font-size: 21px;
	font-weight: 400;
	line-height: 32px;
	letter-spacing: 0em;
	text-align: center;
	color: #65727b;
	max-width: 552px;
}

.header {
	&__container {
		display: grid;
		grid-template-columns: auto auto;
		margin-bottom: 120px;
	}

	&__logo {
		font-family: DM Serif Display;
		font-size: 48px;
		font-weight: 400;
		line-height: 56px;
		letter-spacing: 0em;
		color: #28514f;
	}

	&__nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__link {
		padding: 7px 20px;
		border-radius: 40px;
		a {
			font-family: Roboto;
			font-size: 16px;
			font-weight: 400;
			line-height: 23px;
			text-decoration: none;
			color: #65727b;
		}
		&:hover {
			background: rgba(101, 114, 123, 0.2);
		}
		&:active {
			background: rgba(144, 164, 179, 0.2);
			opacity: 0.6;
		}
	}
}
.downloads {
	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__title {
		margin-bottom: 35px;
	}

	&__subtitle {
		margin-bottom: 40px;
	}

	&__buttons {
		display: flex;
		margin-bottom: 110px;
	}

	&__button {
		text-decoration: none;
		margin-right: 20px;
		&:last-child {
			margin-right: 0;
		}
		display: flex;
		padding: 16px 32px;
		border-radius: 50px;
		background: #28514f;
		height: 56px;
		width: 156px;
		img {
			margin-right: 12px;
		}
		p {
			font-family: Source Sans Pro;
			font-size: 16px;
			font-style: normal;
			font-weight: 400;
			line-height: 23px;
			letter-spacing: 0em;
			color: #ffffff;
			white-space: nowrap;
		}
	}

	&__image {
		transform: translateX(-40px);
	}
}
